@page
@model AppSecPASN.Pages.ChangePasswordModel
@{
}

<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Change Password</h1>

			<form method="post">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="mb-3">
					<label class="form-label" asp-for="CModel.OldPassword">Password</label>
					<input type="Text" asp-for="CModel.OldPassword" class="form-control" />
					<span asp-validaton-for="CModel.OldPassword" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="CModel.NewPassword">New Password</label>
					<input type="Text" asp-for="CModel.NewPassword" class="form-control" />
					<span asp-validaton-for="CModel.NewPassword" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="CModel.ConfirmPassword">Confirm Password</label>
					<input type="Text" asp-for="CModel.ConfirmPassword" class="form-control" />
					<span asp-validaton-for="CModel.ConfirmPassword" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Change Password</button>
				</div>
			</form>
		</div>
	</div>
</div>
