@page
@model AppSecPASN.Pages.Errors.DefaultModel

@{
    ViewData["title"] = "Oops";
}

<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">Oops</h1>

    <p style="font-size: 50px; ">An error occurred!</p>
    <p>Something went wrong with your request! Please contact an administrator.</p>
    <p>Please navigate back to the <a href="https://localhost:7248/">homepage</a></p>
</div>